.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 999;
    padding-bottom: 2em;
}

.audio-player {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    box-shadow: 0 -2px 5px rgba(246, 0, 147, 0.1);
    max-width: auto;
    margin: 0;
}

.controls {
    padding: 14px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 98%;
}

.song-information {
    flex-grow: 1; 
}

.song-information .song-name {
    font-size: 20px;
}

.song-information .artist-name {
    font-size: 14px;
    color: rgb(176, 176, 176);
}

.audio-control {
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.control-buttons {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-around;
}

.control-buttons button {
    padding: 1em;
    height: 100%;
}

.time-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.time-control div {
    padding-right: 1em;
    padding-left: 1em;
}

input[type="range"] {
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: 1em;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

#audioPlayer {
    width: 100%; 
}

#timeSlider {
    min-width: 35em;
    max-width: 35em;
    border: 0;
    border-radius: 1em;
}

#volumeSlider {
    min-width: 120px;
    max-width: 120px;
    margin-top: 5.25em;
}

audio::-webkit-media-controls-panel {
    background-color: #f9f9f9;
}

audio::-webkit-media-controls-play-button {
    color: #fff;
}

audio {
    display: none;
}
