.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 999;
    padding-bottom: 2em;
}

.audio-player {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    box-shadow: 0 -2px 5px rgba(246, 0, 147, 0.1);
    margin: 0;
}

.controls {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
}

.song-information {
    display: flex;
    flex-direction: row;
    width: 10em;
}

.song-information .song-image {
    align-self: center;
}

.song-information .song-image img {
    max-width: 100%; /* Замість фіксованого розміру */
    height: auto;
    border-radius: 0.5em;
}

.song-information .song-artist-and-title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1em 0;
}

.song-information .song-artist-and-title .song-name {
    width: 100%;
    font-size: 1em; /* Адаптивний розмір */
}

.song-information .song-artist-and-title .artist-name {
    font-size: 14px;
    color: rgb(176, 176, 176);
}

.audio-control {
    bottom: 0;
    position: static;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.control-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.control-buttons button {
    padding: 1em;
    height: 100%;
}

.time-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.time-control div {
    padding: 0 1em;
}

input[type="range"] {
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: 1em;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

.volume-controller {
    width: 10%;
}

@media (max-width: 768px) {
    .song-information {
        width: 8em;
    }

    .song-information .song-artist-and-title .song-name {
        font-size: 0.85em;
    }

    #timeSlider {
        min-width: 25em;
        max-width: 25em;
    }

    .volume-controller {
        width: 15%;
    }
}

@media (max-width: 480px) {
    .song-information {
        width: 6em;
    }

    .song-information .song-artist-and-title .song-name {
        font-size: 0.75em;
    }

    #timeSlider {
        min-width: 20em;
        max-width: 20em;
    }

    .volume-controller {
        width: 20%;
    }
}
