.album-in-display-field {
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: max-content;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    /* Додавання білого кольору тексту */
}

.albumInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-bottom: 1em;
}

.album-title {
    margin: 0;
    margin-bottom: 1em;
}

.album-artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.albumInfo img {
    border-radius: 0.5em;
    width: 10em;
    height: 10em;
    object-fit: cover;
    margin-right: 1em;
}

.songs-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.album-song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    color: white;
    padding: 1.5%;
}

.album-song:hover {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 1em;
}

.album-song-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Вирівнювання елементів на початку */
    flex-grow: 1;
    /* Розширення для зайняття доступного простору */
}

.album-song-name {
    padding-left: 1em;
}

.number-song {
    padding-left: 1em;
}

.album-song-play-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* Відступи між елементами керування */
}

.album-play-button {}

.album-song-photo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 1em;
    flex-shrink: 0;
    /* Запобігання зміни розміру фото */
}

.album-song-photo img {
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Збереження співвідношення сторін зображення */
}