.playlists {
    width: auto;
    height: 55%;
    flex-direction: column;
    display: flex;
    background-color:rgb(29, 29, 29);
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.playlist-list{
    padding: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: max-content;
}

.playlist-photo {
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    width: 3em;
    height: 3em;
}

.playlist-name {
    padding: 1em;
    height: auto;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #222;
    border-radius: 0.3em;
    width: 100%;
}

.playlist-in-display-field {
    background-color: rgb(29, 29, 29);
    border-radius: 1em;
    height: fit-content;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 60%;
}

.playlist-in-display-field .playlist-name {
    padding: 1em;
    width: fit-content;
}

.playlist-catalog {
    display: flex;
    flex-wrap: nowrap;
    margin: 0.1em;
}

.playlist-item{
    margin: 0;
    margin-bottom: 0.5em;
    width: 98%;
}

.playlist-in-catalog{
    
}

/* Playlist Control */

.playlist-control{
    width: auto;
    height: auto;
    display: flex;
    justify-content: right;
}

.delete-playlist{
    background-color: red;
    color: black;
    width: fit-content;
    height: auto;
    padding: 0.5em;
    border-radius: 0.2em;
}

.delete-playlist:hover{
    background-color:rgb(144, 0, 0);
    cursor: pointer;
}