

.playlists {
    width: max-content;
    height: 53vh;
    overflow-y: auto;
    flex-direction: column;
    display: flex;
    gap: 20px;
    background-color:rgb(29, 29, 29);
    border-radius: 1em;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
    text-align: center;
    padding: 0.3em;
    z-index: 1; /* Додано для розташування поверх плеєра */
}

.playlist-photo {
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    width: 3em;
    height: 3em;
}

.playlist-name {
    padding: 1em;
    height: auto;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #222;
    border-radius: 0.3em;
}

.playlist-in-display-field {
    background-color: rgb(29, 29, 29);
    border-radius: 1em;
    height: fit-content;
    align-content: center;
}

.playlist-in-display-field .playlist-name {
    padding: 1em;
    width: fit-content;
}

.playlist-catalog {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5em;
    padding: 10px;
}

.playlist-catalog .playlist-item {
    flex: 0 0 auto;
    width: calc(25% - 20px);
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
