.my-playlists {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
}

.playlist {
    flex: 0 0 auto;
    width: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding-bottom: 0.5em;
    align-content: center;
}

.playlist-photo {
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    width: 3em;
    height: 3em;
}

.playlist-name {
    padding: 1em;
    height: auto;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #222;
    border-radius: 0.3em;
}

.playlist-in-display-field{
    background-color: rgb(29, 29, 29);
    border-radius: 1em;
    height: fit-content;
    align-content: center;
}

.playlist-in-display-field .playlist-name{
    padding: 1em;
    width: fit-content;
}

.playlist-catalog {
    display: flex; /* Задаємо розміщення елементів у рядок */
    flex-wrap: wrap; /* Забезпечуємо перенесення елементів на новий рядок при необхідності */
    justify-content: space-between; /* Рівномірно розподіляємо простір між елементами */
    align-items: center; /* Вирівнюємо елементи по вертикалі по центру */
  }
  
  /* Додаткові стилі для кожного елемента */
.playlist-catalog .playlist-item {
    /* Додайте стилі відповідно до потреб вашого дизайну */
    /* Наприклад: */
    width: calc(25% - 10px); /* Ширина елемента з урахуванням проміжку між елементами */
    margin: 5px; /* Проміжок між елементами */
}  