.catalog-my-playlists {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
}

.catalog-playlist {
    flex: 0 0 auto;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.catalog-playlist-photo {
    width: 100%;
    height: 150px;
    background-color: #eee;
}

.catalog-playlist-name {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #222;
}